* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url(https://drive.google.com/uc?export=download&id=1ZQrJJpxx6axW-An3yAB_F_jX6ostjmyi);
}

header, footer {
    background: white;
    padding: 40px 60px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

aside ul {
    list-style-type: none;
}

aside ul li {
    margin-bottom: 10px;
}