* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url(https://www.toptal.com/designers/subtlepatterns/uploads/watercolor.png);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header, footer {
    background: white;
    padding: 40px;
}

h1 {
    width: 58%;
    display: inline-block;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

aside ul {
    list-style-type: none;
}

aside ul li {
    margin-bottom: 10px;
}