* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url(https://images.app.goo.gl/VauRzayAbMBnq4bt7);
}

header {
    background: white;
    padding: 40px 60px;
}